:root {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

#viewer {
    background-color: #333;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    display: flex;
}

#menu-controls {
    flex: 1;
}

#menu-controls>div {
    margin: 8px;
}

#menu-links img {
    display: block;
    width: 32px;
    height: 32px;
    padding: 8px;
}